{% extends 'base.html.twig' %}

{% block title %}New Eleve{% endblock %}

{% block body %}
<div class="flex justify-center items-center h-screen">
    <div class="w-96 bg-sky-900 border border-blue-300 rounded-lg p-6">
        <h1 class="text-2xl mb-6 text-white">Créé un nouvelle éléve</h1>
        <form>
            <!-- Les champs du formulaire ici -->
            {{ include('eleve_crud/_form.html.twig') }}
        </form>
        <a href="{{ path('app_eleve_crud_index') }}" class="text-white">back to list</a>
    </div>
</div>


    
{% endblock %}
