{% extends 'base.html.twig' %}

{% block title %}Pourquoi un trombinoscope
{% endblock %}

{% block body %}
<div class="flex h-screen w-screen bg-white">
  <div class="w-1/2 flex items-center justify-center ">
    <img src="/image/pexels-ivan-samkov-5676744.jpg" alt="Profile Picture" width="900" class="p-50 m-50" >
  </div>
    <div class="w-50 flex items-center justify-center">
        <div class="w-30">
          <p class="max-h-20 text-lg m-5 p-20">
            Un trombinoscope dans une école permet de créer un sentiment d'appartenance et de renforcer les liens entre les élèves et les enseignants.<br> Il favorise l'inclusion en mettant en valeur chaque individu et célèbre la diversité qui enrichit notre établissement.<br> C'est un outil précieux pour créer une communauté conviviale et harmonieuse.
        </p>
        </div>
    </div>
</div>








{% endblock %}