{% extends 'base.html.twig' %}

{% block title %}Hello PageDeChoixController!{% endblock %}

{% block body %}



  <div class="flex h-screen items-center justify-center bg-white">
    <div class="space-x-4">

{% for formation in formation %}
      <a href="page1.html" class="bg-orange-600 rounded-3xl p-3 text-white font-bold transition duration-200 hover:bg-[#003087]">Aller à la page 1</a>
{% endfor %}
    </div>
  </div>

{% endblock %}
